.card-img-info {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.2em;
  flex-direction: column-reverse;
  align-items: flex-end;
  color: rgb(9, 8, 8);
  padding: 1em;
}
.card-img-info:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.645);
}
a > span {
  color: blue;
}

a > span:hover {
  cursor: pointer;
}

.detail {
   color: whitesmoke;
}
