<div class="card">
  <img
    class="card-img-top"
    [src]="image.webformatURL"
    alt="Card image"
    width="100%"
  />
  <div *ngIf="!viewDetail" class="card-img-info">
    <a>
      <i-tag></i-tag>
      <span *ngFor="let tag of image.tags.split(',')" (click)="search(tag)">
        {{ tag }}
      </span></a
    >
    <span><i-user></i-user> {{ image.user }}</span>
    <span> <i-star></i-star> {{ image.likes }}</span>
  </div>
</div>
<div *ngIf="viewDetail" class="detail mt-3">
  <div>
    <strong><i-star></i-star> Likes:</strong>
    {{ image.likes }}
  </div>
  <div>
    <strong><i-user></i-user> Autor: </strong> {{ image.user }}
  </div>
  <div>
    <strong><i-download></i-download> Descargas: </strong>{{ image.downloads }}
  </div>

  <a data-bs-dismiss="modal" aria-label="Close">
    <strong> <i-tag></i-tag> Etiquetas: </strong>
    <span *ngFor="let tag of image.tags.split(',')" (click)="search(tag)">
      {{ tag }},
    </span></a
  >
</div>
